<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
    <title>Add your device</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <style>
        body { 
          padding-top:80px; 
          word-wrap:break-word; 
        }

	input[type=text] {
	    width: 130px;
	    box-sizing: border-box;
	    border: 2px solid #ccc;
	    border-radius: 4px;
	    font-size: 16px;
	    background-color: white;
	    background-image: url('/images/searchicon.png');
	    background-position: 10px 10px; 
	    background-repeat: no-repeat;
	    padding: 12px 20px 12px 40px;
	    -webkit-transition: width 0.4s ease-in-out;
	    transition: width 0.4s ease-in-out;
	}
	input[type=text]:focus {
    		width: 80%;
	}
        .button {
                position:relative;
                padding:13px 10px 11px 16px;
		left:-8px;
		border-radius: 0 4px 4px 0;
                border:2px solid #207cca;
                background-color:#207cca;
		font-weight: bold;
		font-size: 16px;
                color:#fafafa;
	}
	
	form {
  		text-align: center;
	}
    </style>
   
    <style>
	/* Center the loader */
	#loader {
	  position: absolute;
	  left: 50%;
	  top: 50%;
	  z-index: 1;
	  width: 150px;
	  height: 150px;
	  margin: -75px 0 0 -75px;
	  border: 16px solid #f3f3f3;
	  border-radius: 50%;
	  border-top: 16px solid #3498db;
	  width: 120px;
	  height: 120px;
	  -webkit-animation: spin 2s linear infinite;
	  animation: spin 2s linear infinite;
	}

	@-webkit-keyframes spin {
	  0% { -webkit-transform: rotate(0deg); }
	  100% { -webkit-transform: rotate(360deg); }
	}

	@keyframes spin {
	  0% { transform: rotate(0deg); }
	  100% { transform: rotate(360deg); }
	}

	/* Add animation to "page content" */
	.animate-bottom {
	  position: relative;
	  -webkit-animation-name: animatebottom;
	  -webkit-animation-duration: 1s;
	  animation-name: animatebottom;
	  animation-duration: 1s
	}

	@-webkit-keyframes animatebottom {
	  from { bottom:-100px; opacity:0 } 
	  to { bottom:0px; opacity:1 }
	}

	@keyframes animatebottom { 
	  from{ bottom:-100px; opacity:0 } 
	  to{ bottom:0; opacity:1 }
	}

	#myDiv {
	  display: none;
	  text-align: center;
	}
   </style>
</head>
<body>

<div id="loader" style = "display:none"></div>

<div class="container" id = "container">

    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Search and configure new device</h1>
	<a href="/profile" class="btn btn-default btn-sm">Home</a>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>
    <div class="alert alert-danger" id ="message_div" style = "display:none"></div>
    <form align="center">
	<input id = "searchTextbox" type="text" name="search" onkeydown="if (event.keyCode == 13) { event.preventDefault(); getDevices(); }" placeholder="Search..">
	<input type="button" value="Search" class="button" onclick="getDevices()">   
    </form>
   <br>
   <div class="row">

        <!-- LOCAL INFORMATION -->
        <div id = "col" class="col-sm-6">
            
        </div>

    </div>
</div>

<script>
function hideAlert(){	
	var alert_div = document.getElementById('message_div');
	if(alert_div)
	alert_div.style.display='none';
}
function startLoading(){
	document.getElementById("loader").style.display = "block";
  	document.getElementById("container").style.display = "none";
}
function stopLoading(){
	document.getElementById("loader").style.display = "none";
  	document.getElementById("container").style.display = "block";
}
function clearPage(){
	var myNode = document.getElementById("col");
	while (myNode.firstChild) {
        	myNode.removeChild(myNode.firstChild);
	}
}
function postAddDevice(peer_id){
	var url_str = "<%=url%>";
	url_str = url_str + "/insertDevice/?PeerId=" + peer_id; 
	console.log(url_str);
        var xhttp = new XMLHttpRequest();
  	xhttp.onreadystatechange = function() {
    		if (xhttp.readyState == 4 && xhttp.status == 200) {
			var obj = JSON.parse(xhttp.responseText);
			var div_alert = document.getElementById('message_div');
			if(obj.status == "success"){
				document.getElementById(peer_id).remove();
				div_alert.innerHTML = "Device Added Successfully";
				div_alert.style.display='block';
				setTimeout(hideAlert, 6000);
			}
			else if(obj.status == "refresh"){

				var retVal = confirm("Stale Page. Do you want to refresh the page ?");
   				if (retVal == true) {
	    				window.location.reload();
   				} else {
    	
   				}	
			}
			else{
				div_alert.innerHTML = "Device Adding Unsuccessful";
				div_alert.style.display='block';
				setTimeout(hideAlert, 6000);				
			}
			
    		}
  	};
  	xhttp.open("GET", url_str, true);
  	xhttp.send();
}
function addDevice(button){
	var retVal = confirm("Are you sure you want to add this device ?");
	if (retVal == true) {
		postAddDevice(button.getAttribute("value"));	
	} else {
	    	
	}

}

function getDevices(){
	startLoading();
        clearPage();
	var url_str = "<%=url%>";
	var device_info = document.getElementById("searchTextbox").value;
	url_str = url_str + "/getDevices?DeviceInfo=" + device_info; 
        var xhttp = new XMLHttpRequest();
  	xhttp.onreadystatechange = function() {
    		if (xhttp.readyState == 4 && xhttp.status == 200) {
			var obj = JSON.parse(xhttp.responseText)
			for(i = 0; i < obj.length; i++){
                        	createDiv(obj[i]);			
			}
			setTimeout(stopLoading, 1000);
			
    		}
  	};
  	xhttp.open("GET", url_str, true);
  	xhttp.send();

}

function createDiv(deviceInfo){

var mydiv = document.getElementById("col");

var device = document.createElement('div');
var head = document.createElement('h3');
var para = document.createElement('p');
var str1 = document.createElement('strong');
var str2 = document.createElement('strong');
var str3 = document.createElement('strong');
var str4 = document.createElement('strong');
var nl1 = document.createElement('br');
var nl2 = document.createElement('br');
var nl3 = document.createElement('br');
var nl4 = document.createElement('br');
var nl5 = document.createElement('br');
var btn = document.createElement('button');
var device_name = document.createTextNode(deviceInfo.peer_name);
var device_mac = document.createTextNode(deviceInfo.peer_num);
var device_ssid = document.createTextNode(deviceInfo.peer_ssid);
var device_bssid = document.createTextNode(deviceInfo.peer_bssid);

device.setAttribute("id",deviceInfo.peer_id);
device.setAttribute("class","well");

btn.setAttribute("value",deviceInfo.peer_id);
btn.setAttribute("onclick","addDevice(this)");
btn.innerHTML = "Add"

head.innerHTML = "Device Information";

str1.innerHTML = "Device Name :";

str2.innerHTML = "Device Mac :";

str3.innerHTML = "SSID :";

str4.innerHTML = "BSSID :";

para.appendChild(str1);
para.appendChild(device_name);
para.appendChild(nl1);
para.appendChild(str2);
para.appendChild(device_mac);
para.appendChild(nl2);
para.appendChild(str3);
para.appendChild(device_ssid);
para.appendChild(nl3);
para.appendChild(str4);
para.appendChild(device_bssid);
para.appendChild(nl4);
para.appendChild(nl5);
para.appendChild(btn);

device.appendChild(head);
device.appendChild(para);

mydiv.appendChild(device);
}
</script>
</body>
</html>
